{% extends 'perfil.html' %}

{% block editar_perfil %}
<hr>
<div class="container centralizar">
    <form method="POST" action="" class="border m-5 p-5 w-100 p-3 shadow p-3 mb-5 bg-body rounded" enctype="multipart/form-data">
        {{ formEditarPerfil.csrf_token }}
        <legend class="centralizar">Editar perfil</legend>
            <fieldset>
                <div class="form-group">
                    {{ formEditarPerfil.foto_perfil.label }}
                    {{ formEditarPerfil.foto_perfil(class = "form-control-file") }}

                    {% if formEditarPerfil.foto_perfil.errors %}
                        {% for erro in formEditarPerfil.foto_perfil.errors %}
                            <span class="text-danger">{{ erro }}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ formEditarPerfil.username.label(class="form-control-label") }}

                    {% if formEditarPerfil.username.errors %}
                        {{ formEditarPerfil.username(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in formEditarPerfil.username.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ formEditarPerfil.username(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ formEditarPerfil.email.label(class="form-control-label") }}

                    {% if formEditarPerfil.email.errors %}
                        {{ formEditarPerfil.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in formEditarPerfil.email.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ formEditarPerfil.email(class="form-control") }}
                    {% endif %}

                </div>
                <hr>
                <p>Cursos</p>
                {% for campo in formEditarPerfil %}
                    {% if 'curso_' in campo.name %}
                        <div class="form-group">
                            {{ campo(class="form-check-input") }}
                            {{ campo.label(class="form-check-label") }}
                        </div>
                    {% endif %}
                {% endfor %}
            </fieldset>
                <div class="form-group centralizar mt-1">
                    {{ formEditarPerfil.botao_editar_perfil(class="btn btn-outline-primary mt-2") }}
                </div>

    </form>
</div>

{% endblock %}